[user]
	email = zied.klouz@gmail.com
	name = zied-eb
[alias]
	co = checkout
	br = branch
	cm = commit -m
	cma = commit -a -m
	st = status
	spull = pull --recurse-submodules
[merge]
	tool = meld
[credential]
	helper = store
